@import "tailwindcss";

:root {
  --background: 10 10 10;
  --surface: 23 23 23;
  --foreground: 245 245 245;
  --muted: 163 163 163;
  --accent: 59 130 246;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 12s linear infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    90deg,
    #7c3aed,
    #06b6d4,
    #9333ea
  );
  background-size: 200% 200%;
  animation: gradientMove 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}